<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
     table {
      width: 100%;
     }
    </style>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    Busca: <input type="text" ng-model="searchInput">
    Limite: <input type="number" ng-model="limitInput">

    <table border="1">
      
        <td>
          <b>Nome</b>
        </td>
        <td>
          <b>CPF</b>
        </td>
        <td>
          <b>E-mail</b>
        </td>
        <td>
          <b>Telefone</b>
        </td>
        <td>
          <b>Salário</b>
        </td>
      
      <tr ng-repeat="employee in funcCtrl.employees | filter: searchInput | limitTo: limitInput | orderBy: 'name'">
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.cpf | converteCPF}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.phone | converteTEL}}
        </td>
        <td>
          {{employee.salary | currency | toReal}}
        </td>
      </tr>
    </table>

  </body>
</html>
